/* ----- NEWS --- INDEX -----  */

div.news {
	position: relative;

	top: 0px;
	left: 2.5%;
	width: 95%;
	height: auto;
	margin-bottom: 1%;
	margin-top: 1%;
	border-radius: 10px;
	font-size: 10pt;
	float:left;
	
}

div.news_subject {

	float: left;

	width: 100%;
	border-style: solid;
	border-color: rgba(00,00,00,1);
	border-width: 3px;
	border-bottom: none;
	border-bottom-width: 0px;
	background-color: rgba(00,00,00,0.6);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

	box-sizing: border-box;

}

div.news_subject h1 {
	line-height: 10%;
	font-size: 18pt;
	margin-left: 0.4em;
	color: orange;
	font-family: Corbel,Verdana,"Bitstream Vera Sans",sans-serif;
}

div.news_text {

	float: left;


	border-style: solid;
	border-color: rgba(00,00,00,1);
	border-width: 3px;
	border-top: none;
	width: 100%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;

	background-color: rgba(00,00,00,0.6);

	padding-left:1%;
	padding-right:3%;
	padding-bottom:3%;
	padding-top: 0%;
	box-sizing: border-box;

	
	font-size: 10pt;

	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.news_img_contain {
	positioN: relative;
	top: 5px;
	left: 0px;
	margin-right: 5px;
	max-width: 300px;
	max-height: 300px;
	width: 50%;

	float:left;
}
div.news_img_contain img {
	width: 100%;
}
div.news_text:after {
	clear:both;
}

div.new_news {

	position: absolute;

	width: 200px;
	top: 0px;
	left: 300px;
	height: 500px;

	background-color: white;
}

span.news_date {

	position: relative;
	float: left;
	top: 0em;
	left: 0.7em;

	font-size: 12pt;
	line-height: 10px;
	font-weight: bold;
	color: orange
}

div.clear {
	clear:both;
}

a.news {
	color:black;
	text-decoration: none;
}

a.news:hover{
	color: orange;
	text-decoration: underline;
}

/* News sidan */

span.news_subject {
	position: absolute;

	top: 20px;
	left: 30px;
	Font-weight: bold;
	font-size: 32pt;

}

span.news_datum {
	position: absolute;
	top: 60px;
	left: 30px;
	font-size: 11pt;
}

div.news_body {
	float: left;


	border-style: solid;
	border-color: rgba(00,00,00,1);
	border-width: 3px;
	border-top: none;
	width: 100%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;

	background-color: rgba(00,00,00,0.6);

	padding-left:1%;
	padding-right:3%;
	padding-bottom:3%;
	padding-top: 0%;
	box-sizing: border-box;

	
	font-size: 10pt;

	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
div.news_body:after {
	clear:both;
}

/* -----Sök sidan:-----*/

div.sok {
	position:relative;
	float:left;

	top: 10px;
	left: 1.25%;
	width: 97.5%;
	min-width: 400px;
	height: 250px;
	margin-bottom: 20px;

	background: rgba(00,00,00,0.7);
}

/* ----- ARKIV SIDAN ----- */

ul.year, ul.months,ul.links {
	color: white;
	list-style:none;
	height: auto;
}

ul.months {
	display:none;
}

ul.links li a {
	display:none;
	position: relative;
	color: white;
	text-decoration: none;
	height: auto;
}

ul.links li a:hover {
	color: orange;
	text-decoration: underline;
}

ul.year li:hover, ul.months li:hover {
	color:orange;
	cursor: pointer;
}

@media only screen and (min--moz-device-pixel-ratio: 2) {

	div.news_subject h1 {
		font-size: 15pt;
	}
	span.news_date {
		font-size:11pt;
	}

}

@media only screen and (max-width: 1100px) {
	
	span.nyhet_forum {
		font-size: 12pt;
	}
	
	ul.forum_news {
		margin-top: 10%;
	}
	
}
