/* ----- MENY ----- */

div.top
{
    position: relative;
    left: 0px;
    top:0px;
    width: 100%;
    height: 7em;
	background: rgba(00,00,00,0.5);
	float:left;
}

form.login {
	color: black!important;
	margin-left: 10px;
}

ul.menu li a
{
	position: absolute;
	top:0px;
	left:0px;
	width: 100%;
	height: 1.458em;
	font-size: 18pt;
	font-family: Corbel, Verdana, "Bitstream Vera Sans", sans-serif;
	text-decoration: none;
	font-weight: none;
	color:white;
	text-align: center;
}
ul.menu li a:hover
{
	color: orange;
	border-bottom-style: solid;
	border-bottom-widtH: 4px;
	border-bottom-color: orange;
}
ul.menu li a.active
{
	border-bottom-style: solid;
	border-bottom-widtH: 4px;
	border-bottom-color: orange;
}
ul.menu li
{
	position: relative;
	bottom: -0.5em;
	right: 2em;
	width: 7em;
	height: 4em;

	float: right;
	z-index: 95;
	font-size: 18pt;
}
ul.menu li#hem
{
	width: 3.125em;
}
ul.menu li#forum
{
	width: 3.75em;
}
ul.menu li#kalender
{
	width: 4.583em;
}
ul.menu li#blogg
{
	width: 3.333em;
}
ul.menu li#annat
{
	width: 3.333em;
}
ul.menu
{
	list-style:none;
}

img.logo {
	position: absolute;
	left: 0px;
	top: 0px;
}

a.logo {
	position: relative;

	top: 20px;
	font-size: 30px;
	left: -30px;
	font-weight: bold;
	color: orange;
	text-decoration: none;
	font-style: italic;
	font-family: Satisfy, sans-serif;

}
a.tracker {
	position: relative;
	float: left;
	bottom: -5em;
	left: 1em;
	margin-left: 1em;
	z-index: 99;
	color: white;
	text-decoration: none;
	font-weight: none;
	font-size: 12pt;
	font-family: Corbel, Verdana, "Bitstream Vera Sans", sans-serif;
}

a.tracker:hover {
	color: orange;
}
span.tracker {
	position: relative;
	float: left;
	bottom: -5em;
	left: 1em;
	z-index: 99;
	margin-left: 1em;
	color: white;
	font-size: 12pt;
	font-family: Corbel, Verdana, "Bitstream Vera Sans", sans-serif;
}

div.inlogg
{
	positioN: absolute;

	right: 150px;
	width: 180px;
	height: 35px;
	top: 0px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;

}



/* ----- Logga In ------ */

div.inlogg a {
	position: relative;
	top: 5px;
	color: white;
	text-decoration: none;
	font-weight: none;
	font-size: 12pt;
	font-family: Corbel, Verdana, "Bitstream Vera Sans", sans-serif;
	margin-left: 12px;
}
div.inlogg a:hover {
	color: orange;
}

div.loggain {
	position: relative;

	display: none;

	width: 19em;
	height: 16em;
	top: 10em;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid orange;

	background-color: #EFF5F4;
	z-index: 201;
	border-radius: 0.5em;

}

hr.login {
	position: relative;
	top: 35px;
}

div.loginform {

	position: absolute;

	left: 2em;
	right: 2em;
	top: 1em;
	bottom: 1em;

	background-color: #EFF5F4;
	z-index: 96;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}

div.loginform a {
	text-decoration: none;
	color: black;
	font-size: 9pt;
	font-family: Arial, Helvetica, sans-serif;

	position: relative;
	top: 35px;
	left: 10px;


}

div.loginform a:hover {
	color: orange;
}
form.login input[type=text], form.login input[type=password] {
	border-radius: 5px;
	outline: medium none;
	box-shadow: 0px 2px 3px -1px #CCC inset;

	position: relative;
	left: 0em;
	top: 1em;
	height: 1.5em;
	width: 16.5em;
}
form.login input[type=text]:focus, form.login input[type=password]:focus {
	border: 2px solid orange;	


}
form.login input[type=submit] {
	position: absolute;
	left: 0.8em;
	top: 8.5em;
	width: 6em;
	height: 2.5em;
	border-radius: 0.5em;
	
	font-weight: bold;
	font-size: 10pt;
	
	background-size: 100% auto;
	background-image: linear-gradient(#FFF, #ECECEC 50%, #DDD 50%, #DADADA);
}
form.login input[type=submit]:hover {
	cursor:pointer;
	color: orange;
	border: 2px solid orange;
	
}

form.login span.login {
	position: relative;

	top: 10px;

}
button.fadeout {
	position: absolute;
	top: -15px;
	right: -15px;
	height: 35px;
	width: 35px;
	border-radius: 17.5px;
	border: 3px solid orange;
	color: orange;
	background-color: black;
	text-align: center;
	z-index: 202;
	font-size: 15px;
}
button.fadeout:hover{
	cursor: pointer;
	border: 2px solid white;
	color: white;
}

#user {

	display:none;
	right: 225px;
}

button.inlogg {
	position: relative;
	background: none;
	padding: 0px;
	border:none;
	top: 5px;
	margin-left: 12px;

	color: white;

	font-size: 12pt;
	font-family: Corbel,Verdana,"Bitstream Vera Sans",sans-serif;
	text-decoration: none;
	font-weight: none;

}
button.inlogg:hover {
	color: orange;
	cursor:pointer;
}

span.login_text {
	font-weight: bold;
	font-size: 15pt;
	
	position: relative;
	
	top: 0.3em;
	left: 0.6em;
	color: black;
	
}

@media only screen and (min--moz-device-pixel-ratio: 2) {

	ul.menu li a {
		font-size:14pt;
		height: 27px;
	}
	button.inlogg {
		font-size: 10pt;
	}
	div.inlogg a {
		font-size: 10pt;
	}
	span.tracker, a.tracker {
		font-size:10pt;
		top: 70px;
		font-family: Corbel,Verdana,"Bitstream Vera Sans",sans-serif;
	}

}

@media only screen and (max-width: 1500px) {
	
	ul.menu li a {
		font-size: 14pt;
		
	}
	ul.menu li {
		font-size: 14pt;
		bottom: -1.05em;
	}
	
	
}
