/*http://codecanyon.net/theme_previews/5623489-talos-animated-dropdown-menu */

/*csscomb
prefixr*/

html {
	background: url("../../Bilder/running.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	color: #EFF5F4;
	font-family: Corbel,Verdana,"Bitstream Vera Sans",sans-serif;
}

form {
	color: white;
}


div.main
{
	position: absolute;

	top: 10px;
	left: 20%;
	right: 20%;
	height: auto;

	background: rgba(00,00,00,0.5);

	box-shadow: -10px 5px 15px #000000, 10px 5px 15px #000000;

}

div.login_fog {
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 200;
	width: 100%;
	height: 100%;
	background: rgba(00,00,00,0.7);
	display: none;
}

div.contain {
	position: relative;

	top: 1%;
	left: 1%;
	width: 65%;


	margin-bottom: 40px;
	height: auto;
	float:left;

	background: rgba(00,00,00,0.6);
	color: white;
	clear:both;
}


/* ----- Skapa Användare ----- */

form.skapa {
	position: relative;
	left: 20px;
	top: 20px;
	width: 350px;
	height: auto;
	padding-left: 15px;
	padding-bottom: 5px;
	margin-bottom: 40px;
	padding-top: 20px;

	background: rgba(255,255,255,0.4);
}
span.skapa_header {
	font-size: 15pt;
	position: relative;
	color:white;
	text-align: center;
	top: -10px;
	left: 25px;
	width: 300px;
	height: 50px;
	border-bottom: 2px solid white;

}

div.formular
{
	position: absolute;

	left: 20px;
	right: 20px;
	top: 160px;
	height: 1400px;

	background-color: white;

	padding-left: 20px;
	padding-top: 20px;
}


div.bild {
	position: relative;

	top: -15px;
	width: 200px;
	height: 200px;
	left: 75px;
}

img.profilbild {
	position :absolute;

	display:block;
	left: 0px;
	width: 200px;
	top: 0px;
	height: 200px;
}

/* ----- FLIKAR ----- */

a.top_link {
	position: relative;

	left: 1%;
	width: 10%;
	float:left;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-right: 1px;
	margin-top: 1%;

	text-align: center;
	color: white;
	text-decoration: none;
	line-height: 30px;
	font-size: 12pt;
	border: 1px solid black;
	border-bottom: none;
	font-family: Corbel,Verdana,"Bitstream Vera Sans",sans-serif;

	display: blocK;
	background: rgba(00,00,00,0.4);
}

a.top_link#active {
	background: rgba(00,00,00,0.6);
}

a.top_link:hover {
	background: rgba(00,00,00,0.5);
	color:orange;
}

/* ----- Small-Calendar ----- */

div.sok p {
	position:relative;
	color:white;
	left: 20px;
	top: 20px;
}

div.sok form {
	position: relative;
	color:white;
	left: 20px;
	top: 20px;
}

div.sok_calendar {
	position:absolute;

	top: 10px;
	left: 10px;
	width: 200px;
	height: auto;
	display:none;

	z-index: 96;
	border: 1px solid orange;

	background-color:black;
	background: rgba(00,00,00,0.6);
}

table.sok_table{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	top: 30px;

}

table.sok_table td#dag {
	background-color: gray;
}

table.sok_table td#dag:hover{
	background-color: gray;
	cursor: default;
}

table.sok_table td.last {
	background-color:lightgray;
	background: rgba(80,80,80,0.6);
}

table.sok_table td {
	position: relative;
	border: solid 1px black;
	width: 20px;
	height: 20px;

	text-align:center;
	background-color: black;
	background: rgba(00,00,00,0.4);
}

table.sok_table td:hover {
	background-color: orange;
	cursor:pointer;
}

button.sok_calendar {
	position: absolute;

	top: 0px;

	width: 35px;
	height: 35px;
	border: none;

	background: url("../../Bilder/small-calendar-left.png") no-repeat;


}

button#left {
	left: 5px;
}

button#right {
	background: url("../../Bilder/small-calendar-right.png") no-repeat;
	right: 3px;
}

button.sok_calendar:hover {
	cursor: pointer;
}

button.sok_calendar:active {
	border: inset 2px black;
}

p.date {
	position: absolute;
	left: 0px;
	right: 0px;
	top: -12px;
	float:left;
	text-align: center;

}

/* ----- Notis-Center -----*/

div.notis_center {
	position:fixed;

	width: 30%;
	left: -30%;
	top: 20%;
	height: 60%;

	background-color: gray;
	z-index: 107;
	border: 2px solid orange;
	border-left: none;
}

div.button {
	position: absolute;
	top: 40%;
	height:  100px;
	right: -44px;
	width: 40px;
	background-color: gray;
	border-bottom-right-radius: 1em;
	border-top-right-radius: 1em;
	border: 2px solid orange;
	
	z-index: 108;
}
div.button div.arrow {
	position: absolute;
	display:table-cell;
	font-size: 24pt;
	font-weight: bold;
	color: black;
	text-align: center;
	width: 100%;
	top: 50%;
	margin-top: -0.5em;
	vertical-align: middle;
	line-height: 100%;

	height: 1em;
	-moz-transform:scale(1,3.5);
	
}

div.notis_center div.meddelanden {
	position: absolute;
	top: 1%;
	left:1%;
	width: 65%;
	bottom: 19%;

	background: rgba(00,00,00,0);

}
div.notis_contain {
	position: absolute;
	top: 9%;
	left: 1%;
	right: 1%;
	height: 90%;
	background: rgba(0, 0, 0, 0.6);
}

div.notis_center div.lista {
	position: absolute;
	top:1%;
	right: 1%;
	width: 32%;
	bottom: 19%;

	text-align: center;
	color: white;
	font-size: 14pt;
}

div.notis_center button.notis {
	position: absolute;

	left: 1%;
	height: 8%;
	top: 1%;
	width: 48.875%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	text-align: center;
	color: white;
	text-decoration: none;
	line-height: 30px;
	font-size: 14pt;
	border: 1px solid black;
	border-bottom: none;
	font-family: Corbel,Verdana,"Bitstream Vera Sans",sans-serif;

	display: blocK;
	background: rgba(00,00,00,0.4);
}

div.notis_center button.active {
	background: rgba(00,00,00,0.6);
}

div.notis_center button#notis {
	left:50.125%;

}

div.notis_center button.notis:hover {
	background: rgba(00,00,00,0.5);
	color:orange;
	cursor: pointer;
}

div.notis_center button.active:hover {
	background: rgba(00,00,00,0.6);
	color:orange;
	cursor: pointer;
}

div.notis_center div.meddelanden div.meddelanden_display {
	position: absolute;
	top: 1%;
	left: 1%;
	right: 1%;
	bottom: 1%;

	border-radius: 10px;
	background: rgba(00,00,00,0.6);
	border: 3px solid black;
	overflow-x: none;
	overflow-y: scroll;
}

div.notis_center div.lista div.lista_display {
	position: absolute;
	top: 1%;
	left: 1%;
	right: 1%;
	bottom: 1%;

	border-radius: 10px;
	background: rgba(00,00,00,0.6);
	border: 3px solid black;
}

div.notis_center div.lista div.lista_display div.user, div.notis_center div.lista div.lista_display div.notis_lista {
	position: relative;
	top: 0px;
	height: 20px;
	left: 0px;
	right: 0px;
	color:white;
}

div.notis_center div.lista div.lista_display div.user:hover, div.notis_center div.lista div.lista_display div.notis_lista:hover {
	background: rgba(00,00,00,0.7);
	cursor: pointer;
}

div.notis_center div.lista div.lista_display div.active {
	background: rgba(00,00,00,0.7);
}

div.notis_center div.lista div.meddelanden_display div.meddelande {
	position: relative;
	top: 0px;
	left: 0px;
	right: 0px;
	height: auto;

}

div.meddelanden span.meddelande_info {
	color:white;
}

div.skriv {
	position: absolute;
	right: 1%;
	left: 1%;
	bottom: 1%;
	height: 17%;
}

form.msg {
	position: absolute;
	left: 0.1em;
	right: 0.5em;
	top: 0.1em;
	bottom: 0.1em;
}

form.msg textarea.msg {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 100%;
	resize: none;
	background: rgba(00,00,00,0.6);
	border: 3px solid black;
	border-radius: 10px;
	color: white;
}

form.msg input.skicka {
	position: absolute;
	right: 0px;
	bottom: 0px;
	border-radius: 0.5em;
	
	font-weight: bold;
	font-size: 9pt;
	
	background-size: 100% auto;
	background-image: linear-gradient(#FFF, #ECECEC 50%, #DDD 50%, #DADADA);
}

form.msg input.skicka:hover {
	cursor:pointer;
	color: orange;
	border: 2px solid orange;
}

form.msg input.skicka:active {
	border: white solid 2px;
	background-color: gray;
}

div.friendreq {
	position: relative;

	width: 100%;
	height: 50px;
	left: 0px;
	top: 0px;

	background-color: black;
	color: white;
}

button.acc_req {
	position: absolute;
	right: 70px;
	top: 12px;
	width: 75px;
	height: 25px;
	background-color: green;
}

button.dec_req {
	position: absolute;
	right: 5px;
	top: 12px;
	width: 60px;
	height: 25px;
	background-color: red;
}

/* ----- Footer ----- */

div.footer {

	position: relative;
	
	float: left;
	height: 5em;
	width: 100%;
	left: 0em;
	bottom: 0em;
	
	background: rgba(00,00,00,0.5);

}

span.footer {
	position: relative;
	top: 1.4em;
	
	font-size: 8pt;

	
}

a.footer {
	position: relative;
	left: 25%;
	float: left;
	top: 1.15em;
	margin-left: 2em;
	font-size: 11pt;
	color: #EFF5F4;
	text-decoration: none;
	font-family: Corbel,Verdana,"Bitstream Vera Sans",sans-serif;
}
a.footer:hover {
	color: orange;
}

/* ----- Common ----- */

span.content {


	margin-bottom: 5px;
	margin-left: 5px;
	font-size: 10pt;
	float:left;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* span.content {
	position: relative;
	top: 5px;
	left: 5px;
	right: 5px;
	height: auto;
	margin-bottom: 15px;
	font-size: 10pt;
	float:right;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}*/

@media only screen and (min--moz-device-pixel-ratio: 2) {

	span.content {
		font-size: 11pt;
	}

	div.news {
		font-size: 14pt;
	}
	h1 {
		font-size: 14pt;
	}

}

@media only screen and (max-width: 1300px) {
	div.notis_center button.notis {
		font-size: 12pt;
	}
	div.notis_center div.button {
		width: 30px;
		right: -34px;
		height: 60px;
	}
	div.button div.arrow {
		font-size: 18pt;
	}
}
