/*http://codecanyon.net/theme_previews/5623489-talos-animated-dropdown-menu */

/*csscomb
prefixr*/

@font-face {
  font-family: 'Pathway Gothic One';
  font-style: normal;
  font-weight: 400;
  src: local('Pathway Gothic One'), local('PathwayGothicOne-Regular'), url(../../PathwayGothicOne-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Satisfy';
  font-style: normal;
  font-weight: 400;
  src: local('Satisfy'), local('Satisfy-Regular'), url(../../Satisfy-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'BenchNine';
  font-style: normal;
  font-weight: 700;
  src: local('BenchNine Bold'), local('BenchNine-Bold'), url(../../BenchNine-Regular.ttf) format('truetype');
}

html {
	background: url("../../Bilder/running.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	color: #EFF5F4;
	font-family: Corbel,Verdana,"Bitstream Vera Sans",sans-serif;
}

form {
	color: white;
}

div.forum_news, div.aktiviteter_news, div.ads {
	position: relative;
	float:left;
	width: 32%;


	left: 2%;
	font-size: 9pt;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

	background: rgba(00,00,00,0.6);
}
div.aktiviteter_news, div.ads {
	margin-top: 1%;
}

div.ads {
	margin-bottom: 1%;
}

div.ads img {
	width: 100%;
}

ul.forum_news {
	position: relative;
	padding-top: 6%;
	list-style: none;
	padding-left: 7%;
	padding-right: 5%;
	padding-bottom: 1%;
}
ul.forum_news li {

	background: url('../../Bilder/icons.png') no-repeat scroll 0px -1337px transparent;
	margin-bottom: 2%;
}
ul.forum_news li a {
	position: relative;
	text-decoration: none;
	color: white;
	left: 3%;
	background-repeat: no-repeat;
	word-wrap: break-word;
	max-width: 100px;


}

ul.forum_news li a:hover {
	color:orange;
}
ul.forum_news li a.responses {
	background: url('../../Bilder/icons.png') no-repeat scroll 0px -1085px transparent;
	margin-left: 0.5em;
	padding-left:  1.25em;
}
ul.forum_news li a.checked {
	background: url('../../Bilder/check_mark_icon.png') no-repeat scroll 0px 0px transparent;
	margin-left: 0.5em;
	padding-left: 1.75em;
}

span.nyhet_forum {
	font-size: 14pt;
	color: white;
	font-weight: bold;
	text-align: center;

	position: absolute;

	left: 10px;
	right: 10px;
	top: 5px;
	height: 30px;
	font-family: Corbel,Verdana,"Bitstream Vera Sans",sans-serif;
}

.form-text-input {
	border-radius: 5px;
	outline: medium none;
	box-shadow: 0px 2px 3px -1px #CCC inset;
}
.form-text-input:focus {
	border: 2px solid orange;
}

.form-submit-button {
	border-radius: 0.5em;

	font-weight: bold;
	font-size: 10pt;

	background-size: 100% auto;
	background-image: linear-gradient(#FFF, #ECECEC 50%, #DDD 50%, #DADADA);
}
.form-submit-button:hover {
	cursor:pointer;
	color: orange;
	border: 2px solid orange;
}
.form-select-input {
	border-radius: 5px;
	outline: medium none;
	box-shadow: 0px 2px 3px -1px #CCC inset;
}
.form-select-input:focus {
	border: 2px solid orange;
}
.form-radio-input {
}
.form-radio-input:checked {
}

.no-margin {
	margin: 0 0 0 0!important;
}
.no-margin-top {
	margin-top: 0!important;
}
.no-margin-bottom {
	margin-bottom: 0!important
}
.no-margin-left {
	margin-left: 0!important;
}
.no-margin-right {
	margin-right: 0!important;
}

.content_text {
	font-size: 10pt;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.main {
	position: absolute;
	top: 10px;
	left: 20%;
	right: 20%;
	height: auto;

	background: rgba(00,00,00,0.5);
	box-shadow: -10px 5px 15px #000000, 10px 5px 15px #000000;
}

div.login_fog {
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 200;
	width: 100%;
	height: 100%;
	background: rgba(00,00,00,0.7);
	display: none;
}

div.contain {
	position: relative;

	top: 1%;
	left: 1%;
	width: 65%;


	margin-bottom: 40px;
	height: auto;
	float:left;

	background: rgba(00,00,00,0.6);
	color: white;
	clear:both;
}


/* ----- Skapa Användare ----- */

form.skapa {
	position: relative;
	left: 20px;
	top: 20px;
	width: 350px;
	height: auto;
	padding-left: 15px;
	padding-bottom: 5px;
	margin-bottom: 40px;
	padding-top: 20px;

	background: rgba(255,255,255,0.4);
}
span.skapa_header {
	font-size: 15pt;
	position: relative;
	color:white;
	text-align: center;
	top: -10px;
	left: 25px;
	width: 300px;
	height: 50px;
	border-bottom: 2px solid white;

}

div.formular
{
	position: absolute;

	left: 20px;
	right: 20px;
	top: 160px;
	height: 1400px;

	background-color: white;

	padding-left: 20px;
	padding-top: 20px;
}


div.bild {
	position: relative;

	top: -15px;
	width: 200px;
	height: 200px;
	left: 75px;
}

img.profilbild {
	position :absolute;

	display:block;
	left: 0px;
	width: 200px;
	top: 0px;
	height: 200px;
}

/* ----- FLIKAR ----- */

a.top_link {
	position: relative;

	left: 1%;
	min-width: 9%;
	padding-left: 0.5%;
	padding-right: 0.5%;
	float:left;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-right: 1px;
	margin-top: 1%;

	text-align: center;
	color: white;
	text-decoration: none;
	line-height: 30px;
	font-size: 12pt;
	border: 1px solid black;
	border-bottom: none;
	font-family: Corbel,Verdana,"Bitstream Vera Sans",sans-serif;

	display: blocK;
	background: rgba(00,00,00,0.4);
}

a.top_link#active {
	background: rgba(00,00,00,0.6);
}

a.top_link:hover {
	background: rgba(00,00,00,0.5);
	color:orange;
}

/* ----- Small-Calendar ----- */

div.sok p {
	position:relative;
	color:white;
	left: 20px;
	top: 20px;
}

div.sok form {
	position: relative;
	color:white;
	left: 20px;
	top: 20px;
}

div.sok_calendar {
	position:absolute;

	top: 10px;
	left: 10px;
	width: 200px;
	height: auto;
	display:none;

	z-index: 96;
	border: 1px solid orange;

	background-color:black;
	background: rgba(00,00,00,0.6);
}

table.sok_table{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	top: 30px;

}

table.sok_table td#dag {
	background-color: gray;
}

table.sok_table td#dag:hover{
	background-color: gray;
	cursor: default;
}

table.sok_table td.last {
	background-color:lightgray;
	background: rgba(80,80,80,0.6);
}

table.sok_table td {
	position: relative;
	border: solid 1px black;
	width: 20px;
	height: 20px;

	text-align:center;
	background-color: black;
	background: rgba(00,00,00,0.4);
}

table.sok_table td:hover {
	background-color: orange;
	cursor:pointer;
}

button.sok_calendar {
	position: absolute;

	top: 0px;

	width: 35px;
	height: 35px;
	border: none;

	background: url("../../Bilder/small-calendar-left.png") no-repeat;


}

button#left {
	left: 5px;
}

button#right {
	background: url("../../Bilder/small-calendar-right.png") no-repeat;
	right: 3px;
}

button.sok_calendar:hover {
	cursor: pointer;
}

button.sok_calendar:active {
	border: inset 2px black;
}

p.date {
	position: absolute;
	left: 0px;
	right: 0px;
	top: -12px;
	float:left;
	text-align: center;

}

/* ----- Notis-Center -----*/

div.notis_center {
	position:fixed;

	width: 30%;
	left: -30%;
	top: 20%;
	height: 60%;

	background-color: gray;
	z-index: 107;
	border: 2px solid orange;
	border-left: none;

	box-sizing:border-box;
  	-moz-box-sizing:border-box;
  	-webkit-box-sizing:border-box;
}

div.button {
	position: absolute;
	top: 40%;
	height:  100px;
	right: -44px;
	width: 40px;
	background-color: gray;
	border-bottom-right-radius: 1em;
	border-top-right-radius: 1em;
	border: 2px solid orange;

	z-index: 108;
}

div.button div.arrow {
	position: absolute;
	display:table-cell;
	font-size: 24pt;
	font-weight: bold;
	color: black;
	text-align: center;
	width: 100%;
	top: 50%;
	margin-top: -21.57px;
	line-height: 28.57px;
	height: 28.57px;
	-moz-transform:scale(1,3.5);

}

div.notis_center div.meddelanden {
	position: absolute;
	top: 1%;
	left:1%;
	width: 65%;
	bottom: 19%;

	background: rgba(00,00,00,0);

}

div.meddelande, div.notis {
	font-size: 10pt;
}

div.notis_contain {
	position: absolute;
	top: 9%;
	left: 1%;
	right: 1%;
	height: 90%;
	background: rgba(0, 0, 0, 0.6);
}

div.notis_center div.lista {
	position: absolute;
	top:1%;
	right: 1%;
	width: 32%;
	bottom: 19%;

	text-align: center;
	color: white;
	font-size: 14pt;
}

div.notis_center button.notis {
	position: absolute;

	left: 1%;
	height: 8%;
	top: 1%;
	width: 48.875%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	text-align: center;
	color: white;
	text-decoration: none;
	line-height: 30px;
	font-size: 14pt;
	border: 1px solid black;
	border-bottom: none;
	font-family: Corbel,Verdana,"Bitstream Vera Sans",sans-serif;

	display: blocK;
	background: rgba(00,00,00,0.4);
}

div.notis_center button.active {
	background: rgba(00,00,00,0.6);
}

div.notis_center button#notis {
	left:50.125%;

}

div.notis_center button.notis:hover {
	background: rgba(00,00,00,0.5);
	color:orange;
	cursor: pointer;
}

div.notis_center button.active:hover {
	background: rgba(00,00,00,0.6);
	color:orange;
	cursor: pointer;
}

div.notis_center div.meddelanden div.meddelanden_display {
	position: absolute;
	top: 1%;
	left: 1%;
	right: 1%;
	bottom: 1%;

	border-radius: 10px;
	background: rgba(00,00,00,0.6);
	border: 3px solid black;
	overflow-x: none;
	overflow-y: auto;
}

div.notis_center div.lista div.lista_display {
	position: absolute;
	top: 1%;
	left: 1%;
	right: 1%;
	bottom: 1%;

	border-radius: 10px;
	background: rgba(00,00,00,0.6);
	border: 3px solid black;
	overflow-x:hidden;
	overflow-y:auto;
}

div.notis_center div.lista div.lista_display div.user, div.notis_center div.lista div.lista_display div.notis_lista {
	position: relative;
	top: 0px;
	height: 25px;
	left: 0px;
	right: 0px;
	color:white;
}

div.notis_center div.lista div.lista_display div.user:hover, div.notis_center div.lista div.lista_display div.notis_lista:hover {
	background: rgba(255,165,00,0.7);
	cursor: pointer;
}

div.notis_center div.lista div.lista_display div.active {
	background: rgba(255,165,00,0.7);
}


div.notis_center div.lista div.meddelanden_display div.meddelande {
	position: relative;
	top: 0px;
	left: 0px;
	right: 0px;
	height: auto;

}

div.meddelanden span.meddelande_info {
	color:orange;
}

div.skriv {
	position: absolute;
	right: 1%;
	left: 1%;
	bottom: 1%;
	height: 17%;
}

form.msg {
	position: absolute;
	left: 0.1em;
	right: 0.5em;
	top: 0.1em;
	bottom: 0.1em;
}

form.msg textarea.msg {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 100%;
	resize: none;
	background: rgba(00,00,00,0.6);
	border: 3px solid black;
	border-radius: 10px;
	color: white;
}

form.msg input.skicka {
	position: absolute;
	right: 0px;
	bottom: 0px;
	border-radius: 0.5em;

	font-weight: bold;
	font-size: 9pt;

	background-size: 100% auto;
	background-image: linear-gradient(#FFF, #ECECEC 50%, #DDD 50%, #DADADA);
}

form.msg input.skicka:hover {
	cursor:pointer;
	color: orange;
	border: 2px solid orange;
}

form.msg input.skicka:active {
	border: white solid 2px;
	background-color: gray;
}

div.friendreq {
	position: relative;

	width: 100%;
	height: 50px;
	left: 0px;
	top: 0px;

	background-color: black;
	color: white;
}

button.acc_req {
	position: absolute;
	right: 70px;
	top: 12px;
	width: 75px;
	height: 25px;
	background-color: green;
}

button.dec_req {
	position: absolute;
	right: 5px;
	top: 12px;
	width: 60px;
	height: 25px;
	background-color: red;
}

/* ----- Footer ----- */

div.footer {

	position: relative;

	float: left;
	height: 5em;
	width: 100%;
	left: 0em;
	bottom: 0em;

	background: rgba(00,00,00,0.5);

}

span.footer {
	position: relative;
	top: 1.4em;

	font-size: 8pt;


}

a.footer {
	position: relative;
	left: 25%;
	float: left;
	top: 1.15em;
	margin-left: 2em;
	font-size: 11pt;
	color: #EFF5F4;
	text-decoration: none;
	font-family: Corbel,Verdana,"Bitstream Vera Sans",sans-serif;
}
a.footer:hover {
	color: orange;
}

/* ----- Common ----- */

span.content {


	margin-bottom: 5px;
	margin-left: 5px;
	font-size: 10pt;
	float:left;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* span.content {
	position: relative;
	top: 5px;
	left: 5px;
	right: 5px;
	height: auto;
	margin-bottom: 15px;
	font-size: 10pt;
	float:right;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}*/
@media only screen and (max-width: 1300px) {

	div.notis_center button.notis {
		font-size: 12pt;
	}
	div.notis_center div.button {
		width: 30px;
		right: -34px;
		height: 60px;
	}
	div.button div.arrow {
		font-size: 18pt;
	}
}
@media only screen and (min--moz-device-pixel-ratio: 2) {

	div.main {
		left: 15%;
		right: 15%;

	}
	span.content {
		font-size: 11pt;
	}
	.content_text {
		font-size: 9pt!important;
	}
	div.news {
		font-size: 14pt;
	}
	h1 {
		font-size: 14pt;
	}

	span.nyhet_forum {
		font-size: 12pt;
	}
	a.top_link {
		font-size: 10pt;
		line-height: 25px;
	}
	a.footer {
		font-size: 9pt;
		left: 20%;
	}
	span.footer {
		font-size: 7pt;
	}

	/* ----- Notis center ----- */

	div.notis_center {
		width: 40%;
		left: -40%;
		height: 75%;
		top: 12.5%;
	}
	div.meddelande, div.notis {
		font-size: 8.5pt;
	}
	div.notis_center div.lista div.lista_display div.user, div.notis_center div.lista div.lista_display div.notis_lista {
		font-size: 10pt;
		height: 20px;
		line-height: 20px;
	}
	div.button div.arrow {
		font-size: 15pt;
	}

	/* ----- sök nyheter ----- */

	div.sok {
		font-size: 10pt;
	}
	div.sok form {

	}
}


